html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}
body{
  /* background-color: #F5F5F5; */
  font-family: 'Quicksand', sans-serif;
}
html {
  font-family: 'Quicksand', sans-serif;
}
.AppBar {
  border: 1px solid transparent;
  border-bottom-color: rgb(223,224,228);
}

tr th {
  font-weight: 700 !important;
}
tr td {
  font-weight: 400 !important;
}

.tableNumber {
  font-weight: 700 !important;
  white-space: nowrap;
}

a {
  text-decoration: none;
  /* color: #009AFF !important; */
}
a svg {
  color: inherit
}
a:hover {
  text-decoration: none;
  /* color: #38CC24 !important; */
}

.link {
  text-decoration: none;
  position: relative;
  color: #04405d;
  font-weight: 400;
  padding-bottom: 3px;
  cursor: pointer;
}
/* 009AFF */
.link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #fab746;
  transition: 0.4s;
}

.link:hover:after {
  width: 100%;
}

@media(max-width: 480px){
  .Layout-content-7{
    padding: 0px !important
  }
  .MuiPaper-rounded-19 {
    border-radius: 0px !important;
  }
}

.table-wrapper{
  overflow-y: auto;
  min-height: 400px;
}

thead{
  /* background-color: #F5F5F5 !important; */
  background-color: #edf7f8;
  /* background: linear-gradient(160deg, #fab746, #ffd05a) */
}

tr th {
  color: black !important;
}

tr td {
  color: #484848 !important;
  font-weight: 600 !important;
}

.bullet {
  height:10px;
  width: 10px;
  background-color: green;
  border-radius:50%;
  display: inline-block;
  margin-left: 5px;
}

.disabled-link {
  pointer-events: none;
}

.hint {
  font-size: 10px;
}

/****************************************************
        DATE PICKER
*****************************************************/

#btnMenuDate .DayPicker-wrapper {
    box-shadow: none !important;
}

.DayPicker-wrapper {
    font-size: 14px;
    background-color: white;
    position: absolute !important;
}

.DayPicker-Day:hover {
  background-color: #009AFF !important;
  color: white;
}

.DayPicker-Day--highlighted {
  background-color: #009AFF;
  color: white;
}

.DayPicker-wrapper{
  z-index: 4;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.DayPicker-Day--today {
  /* color: white; */
  font-weight: 600;
}

/****************************************************
        BUTTON
*****************************************************/

.icon-button{
  color: #009AFF;
  cursor: pointer;
  width: 0.8em !important;
  transition: 1s ease
}
.icon-button:hover {
  color: #38CC24;
}

/****************************************************
        RICH EDITOR
*****************************************************/
.CodeMirror {
  border-color: rgb(238,238,238);
  border-radius: 1px;
}

.CodeMirror, .CodeMirror-scroll {
    min-height: 150px;
}

.editor-toolbar {
  border-color: red;
  border-radius: 1px;
}


/****************************************************
        ANIMATION
*****************************************************/


.fb_dialog  .fb_dialog_advanced .fb_customer_chat_bubble_animated_no_badge .fb_customer_chat_bubble_pop_in {
  left: 10px;
}

.fb_reset>div {
    left: 10px;
}
.fb_iframe_widget iframe {
  left: 0;
}

/*****************************************
  STRIPE
********************************************/


.StripeElement {
  box-sizing: border-box;
  margin-top: 8px;
  height: 47px;

  padding: 15px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  /* box-shadow: 0 1px 3px 0 grey; */
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  border-color: rgba(0, 0, 0, 0.26);
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
