html, body {
  height: 100%;
  margin: 0;
}
body{
  background-color: rgba(251,251,251,1);
  font-family: 'Open Sans', sans-serif;
}
html {
  font-family: 'Open Sans', sans-serif;
}
.AppBar {
  border: 1px solid transparent;
  border-bottom-color: rgb(223,224,228);
}

a {
  text-decoration: none;
  color: #ef6c00 !important;
}
a svg {
  color: inherit
}
a:hover {
  text-decoration: none;
  color: #b53d00 !important;
}

.link {
  text-decoration: none;
  position: relative;
  color: #ef6c00;
  padding-bottom: 2px;
  cursor: pointer;
}

.link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #b53d00;
  transition: 0.4s;
}

.link:hover:after {
  width: 100%;
}

@media(max-width: 480px){
  .Layout-content-7{
    padding: 0px !important
  }
  .MuiPaper-rounded-19 {
    border-radius: 0px !important;
  }
}

/* 
  Font 
*/

.DayPicker-wrapper {
    font-size: 14px;
    background-color: white;
    position: absolute !important;
}

.DayPicker-Day:hover {
  background-color: #008489 !important;
  color: white;
}

.DayPicker-Day--highlighted {
  background-color: #008489;
  color: white;
}

.DayPicker-wrapper{
  z-index: 4;
}

/****************************************************
        BUTTON
*****************************************************/

.icon-button{
  color: #ef6c00;
  cursor: pointer;
  width: 0.8em !important;
  transition: 1s ease
}
.icon-button:hover {
  color: #b53d00;
}
